body {
  background-color: black;
  text-align: center;
  color: white;
  margin: 0;
}

.initialshow {

}

#header {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 50px;
  padding: 10px;
}

#instruct {
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px;
}

#busPic {
  width: 21.4%;
  position: absolute;
  top: 0;
  left: 0;
}

#votePicDiv {
  width: 100%;
  max-height: 335px;
  margin-bottom: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.votePicPara {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 30%;
}

.productPicture {
  width: 80%;
  max-height: 300px;
}

#progressBar {width: 75%;}


#progressPara {

}

#chartContainer {
  display: none;
  width: 95%;
  margin: 0 auto;
}
