body {
  background-color: black;
  text-align: center;
  color: white;
}

#picture1, #picture2, #picture3 {
  display: inline-block;
  margin: 5% 5%;
}

#progressBar {width: 75%;}

figure {display: inline-block;}

#progressPara {
  height:
}
